h1 {
    width: 100%;
    text-align: center;
}
#contenedor{
    display:flex;
}
#columnalateral{
    width:25%;
}
#colppal{
    width:75%;
    margin-right: 55px;
}
#ppal{
    width:100%;
    text-align: center;
}
#enclat{
    text-align:center;
}
#lista{
    padding-left: 135px;
    padding-right: 15px;
}
#listavertical{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}
#listavertical li{
    width:30%;
}